/**
 * Base SCSS
 */

.wrap{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 5vh;
	padding: 3vh;

	background: $blue;
	color: $color-primary;
}

.content{
	display: block;
	width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;

	h1,
	p{
		font-family: Lato;
		font-weight: 100;
	}

	h1{
		text-transform: uppercase;
	}
}
