
/* ==========================================================================
HELPER CLASSES/MIXINS
========================================================================== */

// SCREEN READERS ONLY
// Hide only visually, but have it available for screenreaders: h5bp.com/v
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
}

// CLEARFIX: CONTAIN FLOATS
.clearfix {
    /* trigger hasLayout and contain floats for IE 6/7 */
    *zoom: 1;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

@mixin clearfix {
    *zoom: 1;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

// INLINE BLOCK
.inline-block {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

@mixin inline-block {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

// MAXWIDTH
.maxwidth660 {
    @include rem(max-width, 660px);
    margin-left: auto;
    margin-right: auto;
}

.maxwidth800 {
    @include rem(max-width, 800px);
    margin-left: auto;
    margin-right: auto;
}

.maxwidth960 {
    @include rem(max-width, 960px);
    margin-left: auto;
    margin-right: auto;
}

.maxwidth1024 {
    @include rem(max-width, 1000px);
    margin-left: auto;
    margin-right: auto;
}

// LIST MODIFIERS
.list--nobull {
    list-style: none;
    padding-left: 0;
}

.list--inline {
    padding-left: 0;
    // fight inline block spacing
    font-size: 0;
    li {
        @include inline-block;
        @include rem(font-size, 16px);
        @media screen and (min-width: $bp640) {
            @include rem(font-size, 18px);
        }
    }
}

// TEXT MODIFIERS
.text--black {
    color: $black;
}

.text--blue {
    color: $blue;
}

.text--center {
    text-align: center;
}

.text--upper {
    text-transform: uppercase;
}

// SPACING CLASSES
// Margin bottom
.mb--none {
    margin-bottom: 0!important;
}

.mb--small {
    @include rem(margin-bottom, 8px!important);
}

.mb--medium {
    @include rem(margin-bottom, 16px!important);
}

.mb--large {
    @include rem(margin-bottom, 24px!important);
}

.mb--xlarge {
    @include rem(margin-bottom, 32px!important);
}

.mb--xxlarge {
    @include rem(margin-bottom, 48px!important);
}

// Margin top
.mt--none {
    margin-top: 0!important;
}

.mt--small {
    @include rem(margin-top, 8px!important);
}

.mt--medium {
    @include rem(margin-top, 16px!important);
}

.mt--large {
    @include rem(margin-top, 24px!important);
}

.mt--xlarge {
    @include rem(margin-top, 32px!important);
}

.mt--xxlarge {
    @include rem(margin-top, 48px!important);
}

// Margin right
.mr--none {
    margin-top: 0!important;
}

.mr--small {
    @include rem(margin-right, 8px!important);
}

.mr--medium {
    @include rem(margin-right, 16px!important);
}

.mr--large {
    @include rem(margin-right, 24px!important);
}

.mr--xlarge {
    @include rem(margin-right, 32px!important);
}

.mr--xxlarge {
    @include rem(margin-right, 48px!important);
}

// Margin left
.ml--none {
    margin-top: 0!important;
}

.ml--small {
    @include rem(margin-left, 8px!important);
}

.ml--medium {
    @include rem(margin-left, 16px!important);
}

.ml--large {
    @include rem(margin-left, 24px!important);
}

.ml--xlarge {
    @include rem(margin-left, 32px!important);
}

.ml--xxlarge {
    @include rem(margin-left, 48px!important);
}

// Padding bottom
.pb--none {
    padding-bottom: 0!important;
}

.pb--small {
    @include rem(padding-bottom, 8px!important);
}

.pb--medium {
    @include rem(padding-bottom, 16px!important);
}

.pb--large {
    @include rem(padding-bottom, 24px!important);
}

.pb--xlarge {
    @include rem(padding-bottom, 32px!important);
}

.pb--xxlarge {
    @include rem(padding-bottom, 48px!important);
}

// Padding top
.pt--none {
    padding-top: 0!important;
}

.pt--small {
    @include rem(padding-top, 8px!important);
}

.pt--medium {
    @include rem(padding-top, 16px!important);
}

.pt--large {
    @include rem(padding-top, 24px!important);
}

.pt--xlarge {
    @include rem(padding-top, 32px!important);
}

.pt--xxlarge {
    @include rem(padding-top, 48px!important);
}

// Padding right
.pr--none {
    padding-right: 0!important;
}

.pr--small {
    @include rem(padding-right, 8px!important);
}

.pr--medium {
    @include rem(padding-right, 16px!important);
}

.pr--large {
    @include rem(padding-right, 24px!important);
}

.pr--xlarge {
    @include rem(padding-right, 32px!important);
}

.pr--xxlarge {
    @include rem(padding-right, 48px!important);
}

// Padding left
.pl--none {
    padding-left: 0!important;
}

.pl--small {
    @include rem(padding-left, 8px!important);
}

.pl--medium {
    @include rem(padding-left, 16px!important);
}

.pl--large {
    @include rem(padding-left, 24px!important);
}

.pl--xlarge {
    @include rem(padding-left, 32px!important);
}

.pl--xxlarge {
    @include rem(padding-left, 48px!important);
}
