/* ----------------------------------------------------------------------------
 * Mixins
 * ------------------------------------------------------------------------- */

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
        content: " ";
        display: table;
    }

	&:after {
        clear: both;
    }
}


/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
        font: {
			family: $font-family;
        style: normal;
        weight: normal;
    }

    src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
  }
}


/**
 * IMAGE RETINA
 * @include image-2x(/img/image.png, 100%, auto);
 */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}


/*
REM MIXIN
Adapted from https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss
rem(font-size, 28px) will return:
font-size: 28px;
font-size: 1.75rem; */

$basesize-px: 16px;
@mixin rem($property, $values) {
    // Create empty lists that we can dump values into
    $px-values: ();
    $rem-values: ();
    // Loop through each value and put into px and rem lists
    @each $value in $values {
        // if value is 0 or not a numerical value (i.e. auto), return as is
        @if $value==0 or type-of( $value) !="number" {
            $px-values: append($px-values, $value);
            $rem-values: append($rem-values, $value);
        }
        @else {
            $px-values: append($px-values, $value);
            $rem-values: append($rem-values, ($value/$basesize-px) * 1rem);
        }
    }
    // Return the property and its list of converted values
    #{$property}: $px-values;
    #{$property}: $rem-values;
}

@function em($pixels, $context: $basesize-px) {
    @return #{$pixels/$context}em
}
