/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //-webkit-font-smoothing: antialiased;
    //font-smoothing: antialiased;
    //text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
    /*font-size: 62.5%;*/
    font-size: 100%;
    height:100%;
    min-height:100%;
}

body {
    background: $white;
    font: 100%/1.5 $font;
    //fix text size
    -webkit-text-size-adjust: 100%;
    //fix fonts
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //text-shadow: 0 0 0;
    color: $black;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid $black;
}

ol, ul {

}
select{
    width: 100%;
}
