/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$white			: #ffffff;
$black			: #101010;
$blue			: #05b9da;

/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */

 $color-primary: $black;

/* Typography */

$font: 'Open Sans',
sans-serif;
$font-secondary: Georgia,
Times,
"Times New Roman",
serif;


/* Breakpoints */

$bp300: em(300px);
$bp480: em(480px);
$bp640: em(640px);
$bp740: em(740px);
$bp960: em(960px);
$bp1200: em(1200px);
$bp1600: em(1600px);

$b300: 300px;
$b480: 480px;
$b640: 640px;
$b740: 740px;
$b960: 960px;
$b1200: 1200px;
$b1600: 1600px;

/* Breakpoints alias */

$bp-xxsmall: $bp480;
$bp-xsmall: $bp640;
$bp-small: $bp740;
$bp-med: $bp960;
$bp-large: $bp1200;
$bp-xlarge: $bp1600;

$b-small: $bp480;
$b-med: $bp960;
$b-large: $bp1200;